<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/hussamaa/uplifting-verse-of-today" version="1.0.0" viewmodes="maximized">
    <tizen:application id="Qe0NQhUxB2.BibleVerseForToday" package="Qe0NQhUxB2" required_version="2.3.1"/>
    <author href="https://hussamaa.github.io/" email="hussama.ismail@gmail.com">Hussama Ismail</author>
    <content src="index.html"/>
    <description>An encouragement verse from the bible for your day - Tizen Wearable App</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Uplifting Verse of Today</name>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
</widget>
